* {
  font-family: 'DM Sans', sans-serif;
}


.body {
    background: rgb(171, 169, 169);
    transition: .5s;
}

.classic {
    background-repeat: no-repeat, repeat;
    background-position: 90% 60%, center center

}

.corfundo {
    
    background-color: rgb(5, 39, 69);
}

.botoes-cima a {
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
}

.topnav {
    position: fixed;
    background-color: #333;
    width: 90%;
    overflow: hidden;
    margin-left: 5%;
    z-index: 1;
  }

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
 
.topnav a.active {
    background-color: #034d57;
    color: white;
  }

.topnav {
  display: flex;
  align-items: center;
}

.topnav b {
    margin-left: auto; /* Move o botão para a extrema direita */
    background: none; /* Estilize como preferir */
    border: none;
    cursor: pointer;
    color: white;
    margin-right: 30px;
    font-size: 23px;
}

body.dark{
  background-color: #110f0f;
}

.dados {
  margin-top: 20%;
  margin-left: 15%;
  display: inline-block;
}

.dadinhos {
  display: flex;
  flex-direction: column;
}

.fotinha {
  display: flex;
  align-items: right;
  justify-content: right;
  margin-left: 240%;
  margin-top: -40%;
}

.icone {
  width: 220px;
  height: 220px;
  display: flex;
  border-radius: 50%;
}

.dados.dark{
  color: white;
  transition: .5s;
}

.front {
  color: #023a41;
  display: flex;
  margin-left: 25%;
  margin-top: -5%;
  align-items: center;
  display: inline;

}

.tec {
  text-align: center;
  font-size: 2.5rem;
  margin: 5rem;
  font-family: 'DM Sans', sans-serif;
}

.tec.dark {
  color: #078a9c;
}

.front.dark {
  color: #078a9c;
  transition: .5s;
}

.linha {
  margin-top: 15%;
}

.linguagens {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bloco_1 {
  position: relative;
  text-align: center;
  background-color: #212121;
  width: 10rem;
  aspect-ratio: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 2.5rem;
  cursor: pointer;
  transition: 0.2s;
}

.bloco_1::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-image: linear-gradient(90deg, #034d57 0%, #048596 92.32%);
  bottom: -0.1rem;
  left: 0;
}

.bloco_1 i:hover {
  text-shadow: #787878 1px 1px 2px;
  transition: 0.5s;
}

.palavra {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #034d57;
  margin-bottom: 1.5rem;
}

.class.dark {
  color: #1de5ff;
  transition: .5s;
}

#python {
  font-size: 500%;
  color:#110f0f;
  width: 4rem;
}

.linguagens {
  display: flex;
  z-index: -2;
  justify-content: center;
  margin: 2rem;
  padding-left: 2rem;
  z-index: 0;
}

.linguagens p {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #078a9c;
  margin-bottom: 1.5rem;
}

.linguagens p.dark {
  color: #078a9c;
}

.linguagens i {
  font-size: 500%;
  color:#110f0f;
  width: 4rem;
}

.linguagens i:hover {
  text-shadow: #5b5b5b 1px 1px 2px;
  transition: 0.5s;
}

.bloco_1 {
  position: relative;
  text-align: center;
  background-color: #212121;
  width: 10rem;
  aspect-ratio: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 2.5rem;
  cursor: pointer;
  transition: 0.2s;
}

.bloco_1:hover {
  width: 10.3rem;
  transition: 1.5s;
}

.bloco_1::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-image: linear-gradient(90deg, #034d57 0%, #048596 92.32%);
  bottom: -0.1rem;
  left: 0;
}

.palavra {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #034d57;
  margin-bottom: 1.5rem;
}


.bloco_2 {
  position: relative;
  text-align: center;
  background-color: #212121;
  width: 10rem;
  aspect-ratio: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 2.5rem;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 250%;
  margin-top: -100%;
}

.bloco_2:hover {
  width: 10.3rem;
  transition: 1.5s;
}

.bloco_2::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-image: linear-gradient(90deg, #034d57 0%, #048596 92.32%);
  bottom: -0.1rem;
  left: 0;
}

.bloco_3 {
  position: relative;
  text-align: center;
  background-color: #212121;
  width: 10rem;
  aspect-ratio: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 2.5rem;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 15rem;
  margin-top: 0%;
}

.bloco_3:hover {
  width: 10.5rem;
  transition: 1.5s;
}

.bloco_3::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-image: linear-gradient(90deg, #034d57 0%, #048596 92.32%);
  bottom: -0.1rem;
  left: 0;
}

.bloco_4 {
  position: relative;
  text-align: center;
  background-color: #212121;
  width: 10rem;
  aspect-ratio: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 2.5rem;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 2.5rem;
  margin-top: 0%;
}

.bloco_4:hover {
  width: 10.5rem;
  transition: 1.5s;
}

.bloco_4::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-image: linear-gradient(90deg, #034d57 0%, #048596 92.32%);
  bottom: -0.1rem;
  left: 0;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icons i {
  position: relative;
  text-align: center;
  background-color: #212121;
  color: #078a9c;
  width: 5rem;
  aspect-ratio: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
}

.linkk {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 6rem;
  padding: -2;
}


.con {
  text-align: center;
  font-size: 2.5rem;
  margin: 5rem;
  font-family: 'DM Sans', sans-serif;
}

.con.dark {
  color: #078a9c;
}

.em {
  font-size: 1.5rem;
  margin-top: -0rem;
  color: #000000;
}

.em.dark {
  color: #ddd;
  transition: 1s;
}

#mail {
  font-size: 2rem;
}

.ved {
  margin-top: -1rem;
  color: #078a9c;
}

#githubb {
  margin-left: 0rem;
  font-size: 2rem;
}

.gitt {
  font-size: 1.5rem;
  margin-top: -0rem;
  color: #000000;
}

.gitt.dark {
  color: #ddd;
  transition: 1s;
}

.huu {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-left: -5rem;
}

.hub {
  margin-top: -1rem;
  color: #078a9c;
}

#githubb {
  color: #ddd;
}

#zin {
  margin-left: 0rem;
  font-size: 2rem;
}

.linkzin {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-left: 2rem;
}

.linn {
  font-size: 1.5rem;
  margin-top: -0rem;
  color: #000000;
}

.kedin {
  margin-top: -1rem;
  color: #078a9c;
}

.linn.dark {
  color: #ddd;
  transition: 1s;
}

.pro {
  text-align: center;
  font-size: 2.5rem;
  margin: 5rem;
  font-family: 'DM Sans', sans-serif;
}

.pro.dark {
  color: #078a9c;
}